/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400;500;600;700;800;900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: rgb(59, 59, 59);
    --ancent-color: rgb(63, 62, 62);
    --heading-color: rgb(63, 62, 62);
    --paragraph-color: black;
}

/*Logo*/
h1{
    font-family: 'Cinzel Decorative', cursive;
    color: var(--primary-color);
    margin-left: -150px;

}

/*Navigation-Bar*/
.Hnav{
    width: 100%;
}

.container{
    width: 75%;
    margin: 0 auto;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    margin-right: -150px;
}

.Nmenu{
    color: rgb(78, 78, 192);
    font-size: 27px;
    text-decoration: none;
    margin: 0px 10px;
}

.Nmenu:hover{
    color: var(--ancent-color);
}

.active{
    color: rgb(175, 80, 80);
}
/*icon*/
i{
    font-size: 25px;
    color: rgb(78, 78, 192);
    padding-left: 25px;
}

i:hover{
    color: var(--ancent-color);
}

/*Box with content*/
.Fbox{
    width: 1510px;;
    height: 695px;
    margin: 265px 10px 0px 10px;
    background-color: white;
    box-shadow: 12px 10px rgb(31, 30, 30);
}

.image{
    width: 1110px;
    height: 589px;
    background-image: url('../image/delivery.png');
    margin: -435px -20px -50px 390px;
}
/*Details*/
.text{
    width: 40%;
    text-align: center;
    margin: -400px 0px 0px 0px;
}
h2{
    font-family: 'Cinzel', cursive;
    font-size: 50px;
    margin-left: 10px;
    padding: 300px 0px;
    color: var(--heading-color);
}

p{
    color: var(--paragraph-color);
    line-height: 28px;
    text-align: left;
    font-size: 16px;
    margin: -270px 0px 0px 90px;
    padding: -300px 0px 0px 0px;
}

/*Learn More Button*/
.button1{
    border: none;
    color: whitesmoke;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 35px 215px 4px -60px;
    cursor: pointer;
    background-color: rgb(175, 80, 80);
}

.button1:hover{
    color:var(--heading-color) ;
}